<ModalDecorator Title="Modal Demo">
    <div class="p-4">
        <p>your content here...</p>
        <button class="btn btn-primary" @onclick="OnCloseClick">Close</button>
    </div>
</ModalDecorator>