<div class="bg-white" style="display: grid; grid-template-rows: auto 1fr;">
    <div class="bg-primary text-white p-2" style="display: grid; grid-template-columns: 1fr auto;">
        <span style="font-size: larger; font-weight: bold;">@Title</span>
    </div>
    @ChildContent
</div>